:root {
  --lavender: #d6e0ff;
  --periwinkle: #bbbbf2;
  --citron: #c8c841;
  --moonstone: #6db8c5;
  --viridian: #47857c;
}

body {
  background-color: var(--moonstone);
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navBar {
  position: fixed;
  background-color: var(--periwinkle);
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
}

#menuImg {
  height: 50px;
  margin-left: 0.75rem;
}

.dropDown {
  padding-top: 4rem;
  background-color: #47857c;
  padding-bottom: 0.4rem;
}

a {
  display: inline-block;
  padding: 1rem 0 0.5rem 1rem;
}

.divider {
  background-color: var(--periwinkle);
  height: 0.2em;
  margin: 0 0.5rem;
  border-radius: 0.2rem;
}

.one {
  height: 0.225rem;
}

#menuImg {
  transform: rotate(0deg);
  transition: transform 1s;
}
