:root {
  --lavender: #d6e0ff;
  --lavender-lighter: #ebf0ff;
  --periwinkle: #bbbbf2;
  --citron: #c8c841;
  --moonstone: #6db8c5;
  --moonstone-lighter: #8ac6d0;
  --moonstone-lightest: #a7d4dc;
  --viridian: #47857c;
  --viridian-lighter: #569f94;
  --viridian-lightest: #6db0a6;
  --viridian-darker: #1d3531;
  --viridian-darkest: #0e1a18;
}

/*GENERAL STYLES*/
body {
  background-color: var(--moonstone);
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

/*HEADER*/

header {
  position: fixed;
  width: 100%;
  top: 0;
}

.navBar {
  background-color: var(--periwinkle);
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
}

#menuImg {
  height: 50px;
  margin-left: 0.75rem;
}

p.logo {
  margin-left: 0.25em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-style: italic;
  color: var(--viridian);
  font-size: xx-large;
  padding: none;
  margin: 0;
}

/*Main dropdown*/

.dropDown {
  background-color: var(--viridian);
  padding-bottom: 0.4rem;
  font-size: 1.5rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  width: 100vw;
  display: none;
}

.icon {
  /*right hand side arrow*/
  margin-left: auto;
  margin-right: 1.5rem;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  text-decoration: none;
}

p.menuText {
  padding-left: 0.5rem;
  margin: 0;
}

.divider {
  background-color: var(--periwinkle);
  height: 0.2em;
  margin: 0 0.5rem;
  border-radius: 0.2rem;
}

a.dark {
  color: var(--lavender);
}

/*Nested drop down*/

div#builtByDropd {
  background-color: var(--citron);
  margin: 1rem;
  border-radius: 1rem;
  display: none;
}

#hiddenDiv {
  display: none;
}

.subicon {
  /*Right hand side sub icons*/
  margin-left: auto;
  margin-right: 0.5rem;
}

a.light {
  color: var(--viridian);
}

/*MAIN CONTENT*/

/*OPNING TAGLINE*/

section#welcomingMessage {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.welcomingMessage {
  background-color: var(--viridian-lighter);
  padding: 0.3rem;
  margin: 0.5rem 1rem;
  border-radius: 1rem 1rem 0rem 1rem;
  box-shadow: 5px 5px var(--viridian);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: x-large;
  color: var(--lavender-lighter);
  max-width: 70rem;
  padding: 2rem;
}

#messageOne {
  margin-top: 5rem;
}

/*Timeline*/
#timeline {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.person {
  margin: 0 20px;
}

.person:nth-child(odd) {
  align-self: flex-start;
}

.person:nth-child(even) {
  align-self: flex-end;
}

.person-image {
  background-color: var(--citron);
  height: 11rem;
  width: 11rem;
  border-radius: 50%;
}

#ada {
  border-radius: 50%;
  height: 10rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

/*Media Queries*/
@media screen and (max-width: 300px) {
  div.logo {
    display: none;
  }
}
